[submodule "BMAD-METHOD"]
	path = BMAD-METHOD
	url = https://github.com/Bionic-AI-Solutions/BMAD-METHOD.git
[submodule "wa-agents"]
	path = wa-agents
	url = https://github.com/Bionic-AI-Solutions/wa-agents.git
